<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2a2e0c50-e00d-4a6a-825b-959356e69de6/resourcegroups/appsvc_linux_centralus/providers/Microsoft.Web/sites/projecto-bases-de-datos-api20231204130428</ResourceId>
    <ResourceGroup>appsvc_linux_centralus</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://projecto-bases-de-datos-api20231204130428.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>bda2fd73-832c-4df9-8f66-e3259cc6aad1</ProjectGuid>
    <MSDeployServiceURL>projecto-bases-de-datos-api20231204130428.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>projecto-bases-de-datos-api20231204130428</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$projecto-bases-de-datos-api20231204130428</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ApiResourceId>/subscriptions/2a2e0c50-e00d-4a6a-825b-959356e69de6/resourceGroups/appsvc_linux_centralus/providers/Microsoft.ApiManagement/service/projecto-bases-de-datos-apiapi/apis/projecto-bases-de-datos-api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>